<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="robot_body">
    <joint name="caster_raceway_joint" type="continuous">
      <origin xyz="0.3728886 0.0011449 -0.0307033" rpy="0. 0. 0." />
      <parent link="chassis_link" />
      <child link="caster_raceway_link" />
      <axis xyz="0. 0. 1" />
    </joint>
    <joint name="caster_wheel_joint" type="continuous">
      <origin xyz="-0.03 -0.0252015 -0.1223279" rpy="1.570794 -1.570794 0" />
      <parent link="caster_raceway_link" />
      <child link="caster_wheel_link" />
      <axis xyz="0. 0. 1" />
    </joint>
    <joint name="left_wheel_joint" type="continuous">
      <origin xyz="-0.1500906 0.2844359 -0.1274171" rpy="0. 0. 0." />
      <parent link="chassis_link" />
      <child link="left_wheel_link" />
      <axis xyz="0. 1 0." />
    </joint>
    <joint name="right_wheel_joint" type="continuous">
      <origin xyz="-0.1492591 -0.2918941 -0.1296445" rpy="0. 0. 0." />
      <parent link="chassis_link" />
      <child link="right_wheel_link" />
      <axis xyz="0. 1 0." />
    </joint>
    <joint name="rootJoint" type="fixed">
      <origin xyz="0. 0. 0." rpy="0. 0. 0." />
      <parent link="base_link" />
      <child link="chassis_link" />
    </joint>
    <link name="base_link" />
    <link name="caster_raceway_link">
      <inertial>
        <origin xyz="-0.0087306 -0.0118137 -0.0584325" rpy="0. 0. 1.570796" />
        <mass value="0.2597675" />
        <inertia ixx="0.0003673" ixy="0.0001647" ixz="0." iyy="0.0004492" iyz="-0." izz="0.0006678" />
      </inertial>
      <visual>
        <origin xyz="-0.0003886 -0.0011449 -0.0088217" rpy="0. 0. ${0.9071883-3.14152/4}" />
        <geometry>
          <mesh filename="package://igvc_test_description/meshes/caster_raceway_link_Part_2_Part_2.obj" scale="1. 1. 1." />
        </geometry>
      </visual>
      <collision>
        <origin xyz="-0.0003886 -0.0011449 -0.0088217" rpy="0. 0. ${0.9071883-3.14152/4}" />
        <geometry>
          <mesh filename="package://igvc_test_description/meshes/caster_raceway_link_Part_2_Part_2.obj" scale="1. 1. 1." />
        </geometry>
      </collision>
    </link>
    <link name="caster_wheel_link">
      <inertial>
        <origin xyz="0. 0. -0.0238125" rpy="0. 0. 1.570796" />
        <mass value="1.0005643" />
        <inertia ixx="0.0017247" ixy="-0." ixz="0." iyy="0.0030953" iyz="-0." izz="0.0017247" />
      </inertial>
      <visual>
        <origin xyz="-0.1135063 0.0373062 -0.0238125" rpy="-1.570796 -1e-07 1.570796" />
        <geometry>
          <mesh filename="package://igvc_test_description/meshes/caster_wheel_link__in_Caster__in_Caster.obj" scale="1. 1. 1." />
        </geometry>
      </visual>
      <collision>
        <origin xyz="-0.1135063 0.0373062 -0.0238125" rpy="-1.570796 -1e-07 1.570796" />
        <geometry>
          <mesh filename="package://igvc_test_description/meshes/caster_wheel_link__in_Caster__in_Caster.obj" scale="1. 1. 1." />
        </geometry>
      </collision>
    </link>
    <link name="left_wheel_link">
      <inertial>
        <origin xyz="9.06e-05 -0.0010859 -0.0010079" rpy="0. 0. 1.570796" />
        <mass value="2.1118586" />
        <inertia ixx="0.0059185" ixy="-0." ixz="-0." iyy="0.0086441" iyz="0.0022525" izz="0.00778" />
      </inertial>
      <visual>
        <origin xyz="9.06e-05 -0.0010859 -0.0010079" rpy="0. 0.8801533 -3.141593" />
        <geometry>
          <mesh filename="package://igvc_test_description/meshes/left_wheel_link__in_Wheel_Stand_In_01__in_Wheel_Stand_In.obj" scale="1. 1. 1." />
        </geometry>
      </visual>
      <collision>
        <origin xyz="9.06e-05 -0.0010859 -0.0010079" rpy="0. 0.8801533 -3.141593" />
        <geometry>
          <mesh filename="package://igvc_test_description/meshes/left_wheel_link__in_Wheel_Stand_In_01__in_Wheel_Stand_In.obj" scale="1. 1. 1." />
        </geometry>
      </collision>
    </link>
    <link name="right_wheel_link">
      <inertial>
        <origin xyz="-0.0007409 0.0085441 0.0012195" rpy="0. 0. 1.570796" />
        <mass value="2.1118586" />
        <inertia ixx="0.0059185" ixy="-0." ixz="0." iyy="0.0059185" iyz="-0." izz="0.0105056" />
      </inertial>
      <visual>
        <origin xyz="-0.0007409 0.0085441 0.0012195" rpy="-3.141593 0. -7.32051e-08" />
        <geometry>
          <mesh filename="package://igvc_test_description/meshes/right_wheel_link__in_Wheel_Stand_In_01__in_Wheel_Stand_In.obj" scale="1. 1. 1." />
        </geometry>
      </visual>
      <collision>
        <origin xyz="-0.0007409 0.0085441 0.0012195" rpy="-3.141593 0. -7.32051e-08" />
        <geometry>
          <mesh filename="package://igvc_test_description/meshes/right_wheel_link__in_Wheel_Stand_In_01__in_Wheel_Stand_In.obj" scale="1. 1. 1." />
        </geometry>
      </collision>
    </link>
    <link name="chassis_link">
      <inertial>
        <origin xyz="0. 0. 0." rpy="0. 0. 1.570796" />
        <mass value="20." />
        <inertia ixx="0.001" ixy="0." ixz="0." iyy="0.001" iyz="0." izz="0.001" />
      </inertial>
      <visual>
        <origin xyz="0. 0. 0." rpy="0. 0. 1.570796" />
        <geometry>
          <mesh filename="package://igvc_test_description/meshes/_FE2CBA3_2B86_49A6_86C6_46C335366A6A.obj" scale="1. 1. 1." />
        </geometry>
      </visual>
      <visual>
        <origin xyz="0.13 0. 0.005" rpy="0. 0. 0." />
        <geometry>
          <box size="0.9 0.45 0.01" />
        </geometry>
      </visual>
      <visual>
        <origin xyz="0.225 0. 0.085" rpy="0. 0. 0." />
        <geometry>
          <box size="0.45 0.45 0.15" />
        </geometry>
      </visual>
      <visual>
        <origin xyz="0.225 0. 0.31" rpy="0. 0. 0." />
        <geometry>
          <box size="0.05 0.05 0.3" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0. 0. 0." rpy="0. 0. 1.570796" />
        <geometry>
          <mesh filename="package://igvc_test_description/meshes/_FE2CBA3_2B86_49A6_86C6_46C335366A6A.obj" scale="1. 1. 1." />
        </geometry>
      </collision>
    </link>
  </xacro:macro>
</robot>