build/*
install/*
log/*
training/dataset/*
.venv/*
training/runs/*
*.pt
models/
rosbags/
isaacsim/*
**.pyc
data/*
rosbag_export_test/
yolopv2_bag/
runs/

__pycache__/
*.pyc

# Microsoft Office lock/owner files (created while a .docx is open in Word)
~$*
